:root {
    --Evolum: hsl(240, 70%, 12%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 200ms;
    text-align: center;

}
@font-face {
    font-family: "MiFuente";
    src: url("FreganSansBold.otf") format("opentype"),
    font-weight
}
body{
    background-color: black;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.menu {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    position: fixed;
    background: #000000;
    align-items: center;
    transition: 100ms;
    z-index: 999;
}
.opciones-texto-svg {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
svg.iconos-svg {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    stroke: white;
    cursor: pointer;
}

svg.iconos-svg:hover{
    stroke: var(--Evolum);

}
p.opciones-menu-p {
    text-align: center;
    font-family: 'MiFuente';
    font-size: .5rem;
    color: white;
    margin: 5px 0px 0px 0px ;
}
.imagen-grande {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}
.degradado-imagen-grande {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, black, transparent 60%);
}
.imagen-grande-img {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-image: url(https://image.tmdb.org/t/p/original/kVd3a9YeLGkoeR50jGEXM6EqseS.jpg);
    background-position-y: top;
    background-position-x: center;
}
a.boton-ver-pelicula-imagen-grande {
    position: absolute;
    z-index: 2;
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 0px 0px 60px;
    background: rgba(9, 9, 52, 0.40);
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'MiFuente';
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
}
a.boton-ver-pelicula-imagen-grande:hover {
    background: var(--Evolum);
}

svg.play-svg {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
}
svg.play-svg path {
stroke: white;
}
.buscador {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    margin: 50px 0px 0px 0px;
    align-items: center;
}
.contencedor-buscador {
    display: flex;
    align-items: center;
    background: var(--Evolum);
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: .8;
}
.contencedor-buscador:hover{
opacity: 1;
}
input.buscador-input {
    height: 50px;
    background: black;
    border: none;
    color: white;
    outline: none;
    text-align: left;
    padding: 0px 0px 0px 10px;
    letter-spacing: .5px;
}

svg.iconos-svg-lupa{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    stroke: white;
    cursor: pointer;
}
.peliculas-series {
    margin: 30px 0px 0px 0px;
    width: 100%;
}
p.titulo-categoria {
    color: white;
    text-align: justify;
    width: fit-content;
    margin: 0px 0px 10px 10px;
    font-family: 'MiFuente';
    font-size: 1rem;
}
.imagenes-peliculas-series {
    width: 100%;
    height: fit-content;
    overflow: auto;
    padding: 0px 10px;
    display: flex
;
}

img.img-peliculas-series-img {
    width: 100%;
    padding: 10px;
    border-radius: 19px;
    height: fit-content;
    min-width: 230px;
}
.espacio{
    width: 100%;
    height: 90px;
    background-color: black;
}
p.titulo-categoria {
    color: white;
    text-align: justify;
    width: fit-content;
    margin: 0px 0px 0px 10px;
    font-family: 'MiFuente';
    display: flex
;
    align-items: center;
}
svg.flecha-titulo {
    width: 10px;
    height: 10px;
    margin: 0px 0px 0px 5px;
}
svg.flecha-titulo path {
fill: var(--Evolum);
}
#Img-ouculta{
    display: none;
}
img.logo-img-grande {
    position: absolute;
    width: 400px;
    margin: 0px 0px 130px 0px;
    z-index: 1;
}
.link-pelicula{
    width: min-content;
    width: 25%;
    min-width: 230px;
}
/* aca para abajo esta la parte de pelicula */
.video-pelicula{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pelicula-mp4 {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border: none;
  max-width: 800px;
  }
  .play-reproducir-svg {
      position: absolute;
      width: 20%;
      height: 20%;
      z-index: 1;
  }
  svg.play-reproducir-svg path {
      stroke: var(--Evolum);
  }
  .degradado-padre {
      width: 100%;
      height: 50vh;
      position: absolute;
      display: flex;
      align-items: end;
  }
  .degradado-hijo {
      width: 100%;
      height: 10vh;
      background: linear-gradient(360deg, black, transparent 30%);
  }
  
  
  .informacion-pelicula-serie {
    margin: 30px 0px 0px 0px;
      position: absolute;
      width: 100%;
  }
  a.reproducir-pelicula {
      background: #090933;
      padding: 10px;
      display: flex;
      align-items: center;
      border-radius: 40px;
      color: white;
      text-decoration: none;
      font-family: 'MiFuente';
      width: fit-content;
      height: fit-content;
      margin: 0px 0px 0px 10px;
  }
  svg.play-reproducir-svg-2 {
      width: 30px;
      height: 30px;
      fill: white;
      margin: 0px 5px;
  }
  .botones-reproducir-compartir {
      width: 100%;
      height: fit-content;
      display: flex
  ;
  }
  a.compartir {
      display: flex;
      align-items: center;
      background: var(--Evolum);
      margin: 0px 10px;
      border-radius: 20px;
  }
  .logo-img {
      width: 100%;
      height: fit-content;
      display: flex
  ;
  }
  img.logo-pelicula-serie {
      width: 60%;
      margin: 20px 0px 0px 10px;
      max-width: 310px;
      min-width: 225px;
  }
  p.descripcion {
      width: 100%;
      color: #ffffffb3;
      text-align: justify;
      padding: 10px;
      font-size: 1rem;
      font-family: sans-serif;
      height: 100px;
      overflow: auto;
      margin: 10px 0px 0px 0px;
  }
  p.resumen {
    width: fit-content;
    margin: 40px 10px 0px 10px;
    color: white;
    text-align: justify;
    font-size: 1.3rem;
    font-family: 'MiFuente';
}
.imagenes-pelicula {
    width: 90%;
    margin: 30px 0px 0px 10%;
    padding: 10px 0px 10px 10px;
    background: hsl(240, 70%, 12%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
p.Galeria {
    color: white;
    font-size: 1.5rem;
    text-align: justify;
    margin: 0px 0px 10px 10px;
    width: fit-content;
    font-family: 'MiFuente';
}
.img-galeria {
    width: 100%;
    display: flex
;
}
.img-galeria {
    width: 100%;
    display: flex;
    overflow: auto;
}
img.img-galeria-img {
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    object-fit: cover;
}
/* termina parte de la pelicula */
@media (max-width: 621px) {
    .imagen-grande-img {
        background-image: url(https://image.tmdb.org/t/p/original/uc5U4GCZu9Z2Zb3yqk5fZfLwawR.jpg);
        background-position-y: top;
        background-position-x: center;

    }
    #Img-ouculta{
        display: block;
    }
    img.logo-img-grande {
        position: absolute;
        width: 300px;
        margin: 0px 0px 130px 0px;
        z-index: 1;
    }
  }
